body{
  margin-top:50px;
}

.container{
  margin-top:50px;
}
/* 사이드메뉴 */
.side-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(196, 247, 191);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  /* 사이드메뉴내 일반버튼 */
  .side-menu-list button {
    margin: 5px;
    border: none;
    background: none;
    width: 120px;
  }

  /* 사이드메뉴내 x버튼 */
  .side-menu .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    border: none;
    background: none;
  }
  
  .side-menu-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .side-menu-list button:hover {
    background-color: beige;
    border-radius: 3px;
  }

/* 햄버거 메뉴 처음에 안보이도록 */
  .openbtn {
    display:none;
  }


  /*돋보기옆 서치 처음 안보이도록*/
  .search-area #input-area{
    display:none;
  }




  /* 모바일 반응형 */
  @media screen and (max-width:768px){
    
    /* 햄버거 메뉴 화면 왼쪽에 보이도록 */
    .openbtn {
        display:block;
        position:absolute;
        top:1em;
        left:0.5em;
      }

    /* 서치박스가 돋보기 옆으로 오게 조절 */
    .search-area{
        position: absolute;
        top:0.5em;
        left: 2em;
    }

    /* 모바일에서 메뉴들이 안보이도록 */
    .menus{
      display:none !important;
    }
  
  }


/* 헤드라인 */
.head-line {
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    margin-top: 1em;
    display: flex;
    /* 왼쪽 오른쪽 삐져나가지 않도록*/
    flex-wrap: wrap; 
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
}

.menus button {
    border: none;
    background: none;
    margin: 5px;
}

.menus button:hover {
    background-color: beige;
}

.news-img-size {
    /* 부모의 100%로 한계를 줌 */
    max-width: 100%;
    max-height: 250px;
    object-fit:'cover';
    width:100%;
}


.news {
  border-bottom: 2px solid black;
  padding:1em;
}

